<!-- Like Button Functionality -->
<div id="like-button-{{ show.id }}" class="d-flex">
    <a class="pe-auto"
    hx-post="{% url 'likeShow' show.id %}"
    hx-target="#like-button-{{ show.id }}"
    hx-swap="innerHTML">
        {% if user in show.like.all %} 
            <img id="image_{{ show.id }}" class="like-button" src="/static/images/liked.png" alt="Like">
        {% else %} 
            <img id="image_{{ show.id }}" class="like-button" src="/static/images/favorite.png" alt="Like">
        {% endif %} 
    </a>
    <!-- Display the number of Likes for the Show -->
    <p>{{ show.like.count }}</p> 
</div>