.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Adding Montserrat font */
}

span, .margin-left {
    margin-left:1em;
}

a {
    text-decoration: none;
}

#like-button {
    margin-left: -2%;
}

.form-width, #btn-width {
    width: 100%;
}

.jumbotron {
    color: black;
    padding: 100px 20px;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    padding: 0%;
}

.mt-3 {
    margin-top: 3% ;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-color: black;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(61, 166, 169, 0.5);
    border-color: grey;
}

.btn-login {
    background-color: #4178a3;
    border-color: #4178a3;
}

.btn-login:hover {
    background-color: #3da6a9;
    border-color: #3da6a9;
}

.like-button {
    background-color:white ;
    border: none;
}

.fixed-image-size {
    /* Set your desired dimensions here */
    width: 100%; /* Example width */
    height: 400px; /* Example height */
    /* You can use 'object-fit' property to adjust how the image fits within the dimensions */
    object-fit: contain; /* Example value */
}

.profile_image {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
}