{% extends 'main.html' %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Add a Show</h1>
        <div>
            <strong><a href="/user/{{request.user.id}}">{{request.user}}</a></strong>
            <a href="{% url  'allShows'%}">View Shows</a>
        </div>
    </div>
    <div class="form-group mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form.title.label_tag}}
            {{ form.title }}
            {{ form.title.errors }}

            {{ form.network.label_tag }}
            {{ form.network }}
            {{ form.network.errors}}

            {{ form.release_date.label_tag}}
            {{ form.release_date }}
            {{ form.release_date.errors}}

            {{ form.description.label_tag}}
            {{ form.description }}
            {{ form.description.errors}}
            
            <button class="btn btn-secondary mt-3" type="submit">Create</button>
        </form>
    </div>
</div>



{% endblock %}
