{% extends "main.html" %}
{% block content %}

{% include 'navbar.html' %}
{% include 'hero.html' %}

{% for show in shows %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 ">
                {% if show.show_image %}
                    <a href="{% url 'viewShow' show.id %}"><img src="{{show.show_image.url}}" class="card-img" alt="show image"></a>
                {% endif %}
                <div class="card-body">
                    <div class="d-flex">
                        <form action="{% url 'likeShow' show.id %}" method="POST">
                            {% csrf_token %}
                            <input type="image" src="/static/images/favorite.png">
                        </form>
                        {% if request.user == show.user %}
                            <a href="/shows/{{show.id}}/edit"><img src="/static/images/edit.png" alt=""></a> 
                            <a href="/shows/{{show.id}}/delete"><img src="/static/images/delete.png" alt=""></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'viewShow' show.id %}"><h5 class="card-title">{{show.title}}</h5></a>
                    <p class="card-text">{{show.description}}</p>    
                </div>
            </div>
        </div>
    </div>
</div>           
{%  endfor %}   

{% endblock %}