{% extends 'main.html' %}
{% block content %}
{% include 'navbar.html' %}
{% include 'hero.html' %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>Update Image</strong>
                </div>
                <form class="m-3" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{form.as_p}}

                    <button class="btn btn-secondary" type="submit">Update</button>
                </form>
                <a class="m-3 text-dark" href="{% url 'updateUser' user.id %}">Update Info</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}