{% extends 'main.html' %}
{% block content %}
{% include 'navbar.html' %}
{% include 'hero.html' %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>My Shows</strong>
                </div>
                <ul class="list-group list-group-flush" >
                    {% for show in shows %}
                        <li class="list-group-item d-flex align-items-center" >
                            <a href="{% url 'viewShow' show.id %}">{{show.title}}</a>
                            <span class="badge bg-primary rounded-pill">{{ show.like.count }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'updateUser' user.id %}">Update Profile</a>
        </div>
    </div>
</div>


{% endblock %}