{% extends 'main.html' %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>{{show.title}}</h1>
        <div>
            <strong>{{request.user}}</strong>
            <a href="{% url  'allShows'%}">View Shows</a>
        </div> 
    </div>
    <strong>Network: </strong><p>{{show.network}}</p>
    <strong>Release date: </strong><p>{{show.release_date}}</p>
    <strong>Description: </strong><p>{{show.description}}</p>
    <strong>Likes: </strong><p>{{show.like.count}}</p>
    <strong>Added by: </strong><p>{{show.user}}</p>
    <a href="/shows/{{show.id}}/edit">Edit</a>
</div>
{% endblock %}